@model IEnumerable<UniversitySystemWeb.Models.Subject>
@{
    ViewBag.Title = "AddSubject";
}

<h2>Materias</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm())
        {
            <tr>

                
                    @*@Html.TextBoxFor(modelItem => item.SubjectID)*@
                    @Html.HiddenFor(modelItem => item.SubjectID)
                


                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule)
                </td>
                <td>

                    <input  type="submit" value="Seleccionar" class="btn btn-primary" />

                </td>
            </tr>
        }
}


</table>


    @*<script>

        $(function () {
            $("a").click(function () {
                var url = "/SubjectSelection/AddSubject?id=" + this.id;
                 $.ajax({

                    type: "POST",
                    url: url,
                success:function () {
                    alert(url);
                }
                })
            })
            return false;
              });

        </script>*@

