@model UniversitySystemWeb.ViewModels.StudentView
@{

    Layout = null;
}
<h2>Materias seleccionadas</h2>

<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Teacher.FullName)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Subjects.Count; i++)
    {
       
    <tr>


        @Html.HiddenFor(modelItem => Model.Subjects[i].SubjectID)
        @Html.HiddenFor(modelItem => Model.Subjects[i].Name)

        <td>
            @Html.DisplayFor(modelItem => Model.Subjects[i].Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Subjects[i].Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Subjects[i].Teacher.FullName)
        </td>
        <td>
            <a id="btnRemoveSubject[@i]" class="btn btn-danger" style="color:aliceblue">Remover materia</a>
            @*<input type="submit"  class="btn btn-danger" value="Remover materia" />*@
        </td>

    </tr>

        

    }

</table>


<script>

    $(function () {
        $("#myTable a").on("click", function () {
           
                var id= (this.parentNode.parentNode.rowIndex)-1;
            var hiddenValue = $("#Subjects_" + id + "__SubjectID").val();
            var subjectName = $("#Subjects_" + id + "__Name").val();
            var row = (this.parentNode.parentNode.nodeName);
            var r = confirm("¿Desea eliminar " + subjectName +"?");

            if (r == true) {
            $.ajax({
                type: "DELETE",
                url: '@Url.Action("RetireSubject")',
                data: {'subjectID':hiddenValue},
                success: function (result) {
                    $("#selectedSubjects").html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Error");
                }
            })
            }
          


        });
        })



</script>