@model UniversitySystemWeb.ViewModels.StudentView
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@{
    ViewBag.Title = "Retiro de materias";
}
<h2>Retiro de materias</h2>

@using (Html.BeginForm(@*"NewSelection", "SubjectSelection", FormMethod.Post*@))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Student.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Student.StudentID, new { htmlAttributes = new { @class = "form-control", @id = "txtStudentId" } })
            @Html.ValidationMessageFor(model => model.Student.StudentID, "", new { @class = "text-danger" })<br />
            @*<button id="btnSearchStudent" class="btn btn-primary">Buscar estudiante</button>*@

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Student.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Student.FullName, new { htmlAttributes = new { @class = "form-control", @id = "txtStudentName" } })
            @Html.ValidationMessageFor(model => model.Student.FullName, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<input type="submit" value="Buscar estudiante" class="btn btn-primary" style="float:right" />

}

@*@Html.ActionLink("Seleccionar materias", "AddSubject", new { }, new { @id = "btnSelectSubject"})*@

    <div id="selectedSubjects">

        @Html.Partial("SubjectSelected");

    </div>



<script>

    $(function () {

        $("#btnSearchStudent").on("click", function () {

            $.ajax({

                type: "POST",
                url: '@Url.Action("SearchStudent")',
                data: { id: $("#txtStudentId").val() },
                datatype: "json",
                cache: false,


                success:function (data) {

                    $("#txtStudentName").val(data.Student)
                },
                error: function () {
                    alert("Estudiante no encontrado");

                }
            })

            return false;


        });
        })



</script>